@mixin focus-border {
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: border 100ms linear;
    border-radius: 5px;
    outline: none;

    &:focus, &:active {
        border: 1px solid black;
    }
}

&.settings-cell {
    padding: 0 10px;

    transition: height 0.2s;
    overflow: hidden;

    user-select: none;

    .settings-cell-body {
        $spacing: 10px;

        flex: 1;
        display: grid;
        grid-auto-rows: max-content;
        row-gap: $spacing;
        margin: $spacing 0;

        label > input[type=text] {
            display: block;
        }

        input[type=text] {
            padding: 10px 7.5px;
            @include focus-border;
        }

        .column-settings-field--single {
            display: grid;
            grid-auto-rows: max-content;
            row-gap: $spacing / 2;
        }

        .column-settings-list--body {
            display: flex;
            flex-flow: column;
        }

        .column-settings-field--header {
            font-weight: bold;
        }

        &:not(:empty) {
            padding: 10px 0;
        }
    }

    .settings-cell-footer {
        display: flex;
        flex-flow: row-reverse;

        padding: 15px 0;

        .settings-cell-footer--action {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 5px;
            align-items: center;
            cursor: pointer;

            &.danger {
                color: red;
            }

            svg {
                font-size: 0.9em;
            }
        }
    }
}