@use "foundation";
@use "columns";
@use "modals";
@import "variables";

.App {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 60px minmax(0, 1fr);
    column-gap: 5px;

    background: var(--palette-app-background-color);
}
