.dash-settings {
    .modal-body {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 10px;
    }

    .modal-header {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 5px;
    }

    .dash-version {
        color: darken(white, 20);
        font-size: 0.8em;
    }

    .palette-tray {
        display: flex;

        .palette-colors {
            margin-left: 5px;

            .palette-color {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;

                &:not(:first-child) {
                    margin-left: 1px;
                }
            }
        }
    }
}