@import "../foundation/mixins";
@import "../variables";

.column-container {
    display: grid;
    grid-template-rows: 5px 50px minmax(0, 1fr);
    row-gap: 1px;

    max-height: 100vh;

    .column-drag-handle {
        background: darken($main-background, 5);
        cursor: move;
    }

    &>.column-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        user-select: none;

        padding: 0 10px;
        
        position: relative;

        @include palette-property-transition(color);

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include palette-property-transition(background-color);
            background-color: var(--column-header-background-color, white);
            opacity: 0.6;
            z-index: -1;
        }

        .column-header--main {
            flex: 1;
            font-weight: 500;
            font-size: 1.25em;
        }

        .column-prefs-toggle {
            cursor: pointer;
        }
    }

    &:not([attr-virtualized=true])>.column-body {
        overflow-y: overlay;
    }

    &>.column-body {
        .ReactVirtualized__Grid {
            overflow: overlay !important;
        }

        & .ReactVirtualized__Grid__innerScrollContainer {
            &>.column-cell:not(:last-child) {
                margin-bottom: 1px;
            }
        }

        & .column-cell {
            display: flex;
            flex-flow: column;
            justify-content: center;

            @include palette-property-transition((background-color, color));

            background-color: var(--palette-app-background-color);
            padding: 15px 10px;

            color: var(--cellTextColor);

            &[attr-pinned=true] > .data-cell--inner::before {
                @include dashed(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
            }

            &[attr-hidden=true] > .data-cell--inner::before {
                @include dashed(rgba(255, 0, 0, 0.05), rgba(255, 0, 0, 0.1));
            }

            &>.data-cell--inner {
                @include palette-property-transition(background-color);

                background-color: var(--cellBackground, var(--palette-default-background-color));
                position: relative;

                & > * {
                    z-index: 1;
                }

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }
            }

            a {
                @include palette-property-transition(color);

                font-weight: 500;

                &:not(:hover) {
                    text-decoration: none;
                }

                color: var(--cellTextColor, var(--palette-default-text-color));
            }
        }
    }
}