@import "../../variables";

// Lays out a column cell that is used to present data in a card-like format
//   vv data-cell--header-title
// |---------------------------|
// | Assignment 1 ------ 12/23 | << data-cell--header
// |                           |
// | Do some stuff, idk lol <3 | << data-cell--description
// |                           |
// | Due: 12/25/21 ----------- | << data-cell--strong
// |---------------------------|

.data-cell {
    padding: 0.5px 0 !important;

    .data-cell--inner {
        display: grid !important;
        padding: 15px 10px;
        grid-template-columns: minmax(0, 1fr);
        grid-auto-flow: row !important;
        row-gap: 5px;
        overflow: visible;
        
        --muted-size: 0.8em;

        .data-cell--muted {
            font-size: var(--muted-size);
        }

        .data-cell--header {
            display: flex;
            flex-flow: row;
            align-items: center;

            .data-cell--header-title {
                flex: 1;
            }
        }

        .data-cell--description {
            font-size: 0.9em;
            word-wrap: break-word;

            text-overflow: ellipsis;

            overflow-x: overlay;
        }

        .data-cell--strong {
            font-weight: 500;
        }
    }
}