.no-hover-bg > .react-contexify__item__content {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bb-color-picker {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 10px;

    .bb-color-picker--label {
        font-weight: 500;
        color: black !important;
        font-size: 1.1em;
        white-space: pre-wrap;
        cursor: default !important;
        width: 100%;

        input[type=text] {
            border: none;
            font-weight: 500;
            color: black !important;
            font-size: 1.1em;
            white-space: pre-wrap;
            width: 100%;

            padding: 0.125em 0.25em;
            margin: -0.125em -0.25em;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
    }
}

.ctx-danger > .react-contexify__item__content {
    color: rgb(192, 43, 43);
}